<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="film_conn" value="Server=.;Database=film;User Id=sa;Password=devide@126.com;"/>
    <add key="work_conn" value="server=127.0.0.1;port=3306;user=root;password=devide@126.com;database=worktask;SslMode=none;charset=utf8;"/>
    <add key="redis_conn" value="192.168.20.100:6379,password=devide@126.com"/>
    <add key="joburl" value="https://www.clouderwork.com/jobs/project.html"/>
    <add key="yjsjoburl" value="https://www.yuanjisong.com/job/allcity/page1" />
    <add key="rrkf_url" value="http://www.rrkf.com/serv/request" />
    <add key="depth" value="60"/>
    <add key="rooturl" value="https://www.ygdy8.net/html/gndy/dyzz/index.html"/>
    <add key="findexp" value=".co_content8 a"/>
    <add key="solrfulldip" value="http://192.168.20.72:8080/solr/goldship/dataimport?command=full-import"/>
    <add key="solrdeltadip" value="http://192.168.20.72:8080/solr/goldship/dataimport?command=delta-import"/>
    <add key="solrreloadcng" value="http://192.168.20.72:8080/solr/goldship/dataimport?command=reload-config"/>
    <add key="solruser" value="admin"/>
    <add key="solrpwd" value="123456"/>
  </appSettings>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="DefaultQuartzScheduler"/>
    <add key="quartz.threadPool.threadCount" value="20"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins"/>
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml"/>
    <add key="quartz.plugin.xml.scanInterval" value="5"/>
  </quartz>
</configuration>
